---

import Layout from '../../layouts/Layout.astro';
import { appwriteDatabases , appwriteStorage, Products, appwriteUser } from '../../lib/appwrite';

import Comments from '../../components/comments.svelte';
import UpvoteBtn from '../../components/upvoteBtn.svelte';

let uid = Astro.cookies.get('user').value;
let userName = Astro.cookies.get('userName').value;

// get the ID from the URL
let pid = Astro.params.id!

// get the product from the database
const entries = (await appwriteDatabases.getDocument(
	'646b9dd716753e384863',
    '646b9e0e29b66e4a8a22',
	pid
)) as unknown as Products;



---

<script>
    import { appwriteClient,appwriteStorage,appwriteDatabases,Products } from "../../lib/appwrite";

    // split the url to get the product ID. the ID is the last part of the URL after the last /
    let pid = window.location.href.split("/").pop() as string;
    console.log(pid);

    const entries = (await appwriteDatabases.getDocument(
        '646b9dd716753e384863',
        '646b9e0e29b66e4a8a22',
        pid
    )) as unknown as Products;

    // delete function
    async function deleteProduct() {
        await appwriteDatabases.deleteDocument(
            '646b9dd716753e384863',
            '646b9e0e29b66e4a8a22',
            pid
        );
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail);
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail2);
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail3);
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail4);
        window.location.href = "/";
    }

    document.getElementById("deleteBtn")?.addEventListener("click", deleteProduct);
</script>

<Layout title="Pitch">
<div class="flex flex-col md:flex-row gap-5 justify-around p-10 md:p-0 md:pt-24">
    <div class="flex flex-row gap-6">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/646547f5019189c8092b/files/'+entries.Icon+'/preview?project=646538bf8be3792191bd'} alt={entries.Title} class="w-auto h-24" />
        <div>
            <p class="text-2xl">{entries.Title}</p>
            <p>{entries.Tagline}</p>
            <p>By: {entries.Author}</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
    <UpvoteBtn client:only="svelte" DatabaseID="646b9dd716753e384863" CollectionID="646b9e0e29b66e4a8a22" DocumentID={pid} uid={uid} />
    </div>
</div>

<div>
    <!--  delete button -->
    {uid == entries.Authoruid ? <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="deleteBtn">Delete</button> : "" }
</div>

<h1 class="text-xl mt-10 font-bold text-center md:text-left md:pl-48 w-full md:w-9/12">
    The Pitch
</h1>
<p class="p-16 md:p-0 md:pl-48 w-full md:w-9/12 whitespace-pre-wrap">
    {entries.Pitch}
</p>

<!-- center the carousel -->
<div class="carousel w-7/12 h-56 md:h-96 mx-auto mt-16">
    <div id="slide1" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide4" class="btn btn-circle btn-primary">❮</a>
            {entries.Thumbnail2 != "" ? <a href="#slide2" class="btn btn-circle btn-primary">❯</a> : "" }
        </div>
    </div>
    {entries.Thumbnail2 != "" ? <div id="slide2" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail2+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide1" class="btn btn-circle btn-primary">❮</a>
            {entries.Thumbnail3 != "" ? <a href="#slide3" class="btn btn-circle btn-primary">❯</a> : "" }
        </div>
    </div> : "" }
    {entries.Thumbnail3 != "" ? <div id="slide3" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail3+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide2" class="btn btn-circle btn-primary">❮</a>
            {entries.Thumbnail4 != "" ? <a href="#slide4" class="btn btn-circle btn-primary">❯</a> : "" }
        </div>
    </div> : "" }
    {entries.Thumbnail4 != "" ? <div id="slide4" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail4+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide3" class="btn btn-circle btn-primary">❮</a>
            <a href="#slide5" class="btn btn-circle btn-primary">❯</a>
        </div>
    </div> : "" }
    {entries.Thumbnail5 != "" ? <div id="slide5" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail5+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide4" class="btn btn-circle btn-primary">❮</a>
            <a href="#slide6" class="btn btn-circle btn-primary">❯</a>
        </div>
    </div> : "" }
    {entries.Thumbnail6 != "" ? <div id="slide6" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail6+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide5" class="btn btn-circle btn-primary">❮</a>
            <a href="#slide1" class="btn btn-circle btn-primary">❯</a>
        </div>
    </div> : "" }
</div>

<Comments docId="646b9dd716753e384863" docCollection='6477d7986ebe656226ae' postId={pid} userUid={uid} userDisplayName={userName} client:only="svelte" />

</Layout>