---
import Layout from '../layouts/Layout.astro';

import { update_await_block_branch } from 'svelte/internal';
import {appwriteDatabases , Products,ProductList , appwriteStorage, appwriteUser} from '../lib/appwrite';

import UpvoteBtn from '../components/upvoteBtn.svelte';

import { Client,Storage } from 'appwrite';

export const client = new Client();
export const storage = new Storage(client);

let userid = Astro.cookies.get('user').value;

client
.setEndpoint('https://cloud.appwrite.io/v1')
.setProject('646538bf8be3792191bd');
  
const entries = (await appwriteDatabases.listDocuments(
	'646538e35dd17306c589',
	'646538eeeface7a4cd39'
)) as ProductList;

const todayPosts = entries.documents.sort(
// only show posts that were posted today
(a, b) => new Date(b.LaunchDate).getTime() - new Date(a.LaunchDate).getTime()
);

const posts = entries.documents.sort(
	// sort the posts based on the number of upvotes
	(a, b) => b.Upvotes - a.Upvotes
);
---
<Layout title="Pitchfork">
	<main class="p-5 sm:p-10">
		<!--  if the session is not null, then show the user's name -->
		<!-- <div class="flex flex-wrap items-center flex-row gap-5">
			{posts.map((post) => (
				<div class="flex flex-col gap-3 bg-slate-800 rounded-xl w-96 p-3">
				<a class="" href={'/post/'+post.$id}>
				<div class="flex flex-col gap-3">
					<img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+post.Thumbnail+'/preview?project=646538bf8be3792191bd'} alt="image" class="w-96 h-auto" />
					<div class="flex">
					<img src={'https://cloud.appwrite.io/v1/storage/buckets/646547f5019189c8092b/files/'+post.Icon+'/preview?project=646538bf8be3792191bd'} alt="image" class="w-24 h-auto" />
					<div class="pl-2">
						<p class="text-lg">{post.Name}</p>
						<p class="text-md">{post.Tagline}</p>
						{post.Free && <p class=" text-sm text-gray-400">Free</p> || <p class=" text-sm text-gray-400">Paid/Has Paid Options</p>}
						<p class="text-xs text-gray-400">By: {post.Author}</p>
					</div>
					</div>
				</div>
				</a>
				<UpvoteBtn client:only="svelte" DatabaseID="646538e35dd17306c589" CollectionID="646538eeeface7a4cd39" DocumentID={post.$id} uid={userid} />
				</div>
			))}
		</div> -->
		<!--  sort the posts based on if it was posted today or not -->
		<h1 class="text-white text-center mb-5 text-2xl">Today</h1>
		<div class="flex flex-wrap items-center flex-row gap-5">
			{todayPosts.map((todayPosts)=> (
								<div class="flex flex-col gap-3 bg-slate-800 rounded-xl w-96 p-3">
				<a class="" href={'/post/'+todayPosts.$id}>
				<div class="flex flex-col gap-3">
					<img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+todayPosts.Thumbnail+'/preview?project=646538bf8be3792191bd'} alt="image" class="w-auto h-52" />
					<div class="flex">
					<img src={'https://cloud.appwrite.io/v1/storage/buckets/646547f5019189c8092b/files/'+todayPosts.Icon+'/preview?project=646538bf8be3792191bd'} alt="image" class="w-24 h-auto" />
					<div class="pl-2">
						<p class="text-lg">{todayPosts.Name}</p>
						<p class="text-md">{todayPosts.Tagline}</p>
						{todayPosts.Free && <p class=" text-sm text-gray-400">Free</p> || <p class=" text-sm text-gray-400">Paid/Has Paid Options</p>}
						<p class="text-xs text-gray-400">By: {todayPosts.Author}</p>
					</div>
					</div>
				</div>
				</a>
				<UpvoteBtn client:only="svelte" DatabaseID="646538e35dd17306c589" CollectionID="646538eeeface7a4cd39" DocumentID={todayPosts.$id} uid={userid} />
				</div>
			))}
		</div>
		<h1 class="text-white text-center mb-5 text-2xl">Top Posts</h1>
		<div class="flex flex-wrap items-center flex-row gap-5">
			{posts.map((posts)=> (
			<div class="flex flex-col gap-3 bg-slate-800 rounded-xl w-96 p-3">
				<a class="" href={'/post/'+posts.$id}>
				<div class="flex flex-col gap-3">
					<img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+posts.Thumbnail+'/preview?project=646538bf8be3792191bd'} alt="image" class="w-auto h-52" />
					<div class="flex">
					<img src={'https://cloud.appwrite.io/v1/storage/buckets/646547f5019189c8092b/files/'+posts.Icon+'/preview?project=646538bf8be3792191bd'} alt="image" class="w-24 h-auto" />
					<div class="pl-2">
						<p class="text-lg">{posts.Name}</p>
						<p class="text-md">{posts.Tagline}</p>
						{posts.Free && <p class=" text-sm text-gray-400">Free</p> || <p class=" text-sm text-gray-400">Paid/Has Paid Options</p>}
						<p class="text-xs text-gray-400">By: {posts.Author}</p>
					</div>
					</div>
				</div>
				</a>
				<UpvoteBtn client:only="svelte" DatabaseID="646538e35dd17306c589" CollectionID="646538eeeface7a4cd39" DocumentID={todayPosts.$id} uid={userid} />
				</div>
			))}
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
