---

import Layout from '../../layouts/Layout.astro';
import { appwriteDatabases , appwriteStorage, Products, appwriteUser } from '../../lib/appwrite';

import UpvoteBtn from '../../components/upvoteBtn.svelte';

let uid = Astro.cookies.get('user').value;

// get the ID from the URL
let pid = Astro.params.id!

// get the product from the database
const entries = (await appwriteDatabases.getDocument(
	'646538e35dd17306c589',
    '646538eeeface7a4cd39',
	pid
)) as unknown as Products;

---

<Layout title="Post">
<div class="flex flex-col md:flex-row gap-5 justify-around p-10 md:p-0 md:pt-24">
    <div class="flex flex-row gap-6">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/646547f5019189c8092b/files/'+entries.Icon+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-24 h-auto" />
        <div>
            <p class="text-2xl">{entries.Name}</p>
            <p>{entries.Tagline}</p>
            <p>By: {entries.Author}</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
    <a href={entries.Link} class="pt-5">
    <button class="bg-purple-600 hover:bg-purple-700 text-white py-2 px-4 rounded h-10">
        Visit Website
    </button>
    </a>
    <UpvoteBtn client:only="svelte" DatabaseID="646538e35dd17306c589" CollectionID="646538eeeface7a4cd39" DocumentID={pid} uid={uid} />
    </div>
</div>

<p class="p-16 md:pl-48 md:pt-10 w-full md:w-9/12">
    {entries.Description}
</p>

<img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-7/12 h-auto items-center mx-auto my-auto" />

</Layout>