---

import Layout from '../../layouts/Layout.astro';
import { appwriteDatabases , appwriteStorage, Products, appwriteUser,ProductList } from '../../lib/appwrite';

import { Query } from 'appwrite';

import UpvoteBtn from '../../components/upvoteBtn.svelte';
import Comments from '../../components/comments.svelte';
import Poll from '../../components/poll.svelte';

let uid = Astro.cookies.get('user').value;
let userName = Astro.cookies.get('userName').value;

// get the ID from the URL
let pid = Astro.params.id!

// get the product from the database
const entries = (await appwriteDatabases.getDocument(
	'646538e35dd17306c589',
    '646538eeeface7a4cd39',
	pid
)) as unknown as Products;

const recommendation = (await appwriteDatabases.listDocuments(
	'646538e35dd17306c589',
    '646538eeeface7a4cd39',
    [
        Query.equal("Tag", [entries.Tag]),
        Query.limit(10),
    ]
)) as unknown as ProductList ;

let rec = recommendation.documents.filter((item) => item.$id != pid);
---
<script>
    import { appwriteClient,appwriteStorage,appwriteDatabases,Products } from "../../lib/appwrite";

    // split the url to get the product ID. the ID is the last part of the URL after the last /
    let pid = window.location.href.split("/").pop() as string;
    console.log(pid);

    const entries = (await appwriteDatabases.getDocument(
        '646538e35dd17306c589',
        '646538eeeface7a4cd39',
        pid
    )) as unknown as Products;

    // delete function
    async function deleteProduct() {
        await appwriteDatabases.deleteDocument(
            '646538e35dd17306c589',
            '646538eeeface7a4cd39',
            pid
        );
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail);
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail2);
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail3);
        await appwriteStorage.deleteFile('64661e622715cf602c83',entries.Thumbnail4);
        window.location.href = "/";
    }

    document.getElementById("deleteBtn")?.addEventListener("click", deleteProduct);
</script>

<Layout title="Post">
<div class="flex flex-col md:flex-row gap-5 justify-around p-10 md:p-0 md:pt-24">
    <div class="flex flex-row gap-6">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/646547f5019189c8092b/files/'+entries.Icon+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-auto h-24" />
        <div>
            <p class="text-2xl">{entries.Name}</p>
            <p>{entries.Tagline}</p>
            <p>By: {entries.Author}</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
    <a href={entries.Link} class="pt-5">
    <button class="bg-purple-600 hover:bg-purple-700 text-white p-2 rounded-md w-full">
        Visit Website
    </button>
    </a>
    <UpvoteBtn client:only="svelte" DatabaseID="646538e35dd17306c589" CollectionID="646538eeeface7a4cd39" DocumentID={pid} uid={uid} />
    </div>
</div>
<div class="flex flex-row gap-5 justify-around p-10 md:p-0 md:pt-24">
    <!--  delete button -->
    {uid == entries.Authoruid ? <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="deleteBtn">Delete</button> : "" }
    <!-- edit -->
    {uid == entries.Authoruid ? <a href={'edit/'+pid}><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</button></a> : "" }
</div>
<h1 class="text-xl mt-10 font-bold text-center md:text-left md:pl-48 w-full md:w-9/12">
    About {entries.Name}
</h1>
<p class="p-16 md:p-0 md:pl-48 w-full md:w-9/12 whitespace-pre-wrap">
    {entries.Description}
</p>

<!-- <div class="flex flex-row gap-8 overflow-x-auto p-10 md:p-0 md:pt-24 md:pl-48 md:pr-48">
<img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-96 sm:w-7/12 h-auto items-center mx-auto my-auto" />
{entries.Thumbnail2 != "" ? <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail2+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-96 sm:w-7/12 h-auto items-center mx-auto my-auto" /> : "" }
{entries.Thumbnail3 != "" ? <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail3+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-96 sm:w-7/12 h-auto items-center mx-auto my-auto" /> : "" }
{entries.Thumbnail4 != "" ? <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail4+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-96 sm:w-7/12 h-auto items-center mx-auto my-auto" /> : "" }
</div> -->

<!-- center the carousel -->
<div class="carousel w-7/12 h-auto md:h-96 mx-auto mt-16">
    <div id="slide1" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            {entries.Thumbnail2 != "" ? <a href="#slide2" class="btn btn-circle btn-primary">❯</a> : "" }
        </div>
    </div>
    {entries.Thumbnail2 != "" ? <div id="slide2" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail2+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide1" class="btn btn-circle btn-primary">❮</a>
            {entries.Thumbnail3 != "" ? <a href="#slide3" class="btn btn-circle btn-primary">❯</a> : "" }
        </div>
    </div> : "" }
    {entries.Thumbnail3 != "" ? <div id="slide3" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail3+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide2" class="btn btn-circle btn-primary">❮</a>
            {entries.Thumbnail4 != "" ? <a href="#slide4" class="btn btn-circle btn-primary">❯</a> : "" }
        </div>
    </div> : "" }
    {entries.Thumbnail4 != "" ? <div id="slide4" class="carousel-item relative w-full">
        <img src={'https://cloud.appwrite.io/v1/storage/buckets/64661e622715cf602c83/files/'+entries.Thumbnail4+'/preview?project=646538bf8be3792191bd'} alt={entries.Name} class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide3" class="btn btn-circle btn-primary">❮</a>
            <a href="#slide1" class="btn btn-circle btn-primary">❯</a>
        </div>
    </div> : "" }
</div>

<Comments docId="646538e35dd17306c589" docCollection="6477d7a880bdb3f92adc" postId={pid} userUid={uid} userDisplayName={userName} client:only="svelte" />

<div class="flex flex-col gap-10 mx-auto items-center justify-center">
    <h1 class="text-2xl mt-5 font-bold text-center">Discover More</h1>
    {rec.map((recommendation)=> (
    <a href={'/post/'+recommendation.$id}>
        <div class="flex flex-row gap-5 hover:bg-gray-700 p-2 w-96 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 rounded-md">
                <img src={'https://cloud.appwrite.io/v1/storage/buckets/646547f5019189c8092b/files/'+recommendation.Icon+'/preview?project=646538bf8be3792191bd'} alt={entries.Title} class="w-auto h-24" />
            <div class="flex flex-col gap-2">
                <h1 class="text-xl font-bold">{recommendation.Name}</h1>
                <p class="whitespace-pre-wrap w-52 truncate">{recommendation.Tagline}</p>
                <UpvoteBtn DocumentID={recommendation.$id} CollectionID='646538eeeface7a4cd39' client:only="svelte" DatabaseID='646538e35dd17306c589' />
            </div>
        </div>
    </a>
    ))} 
</div>
</Layout>